<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <button class="btn btn-primary" (click)="openModal()">Primary button (open modal)</button>
      <button class="btn btn-secondary">Secondary button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-5">
      <h2>Moment</h2>
      <ul>
        <li>
          <label><strong>Date: </strong>{{date}}</label>
        </li>
        <li>
          <label><strong>amTimeAgo: </strong>{{date | amTimeAgo}}</label>
        </li>
        <li>
          <label><strong>amDateFormat: </strong>{{date | amDateFormat : 'DD/MM/YYYY HH:MM'}}</label>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- SAMPLE MODAL  -->
<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
